runtime: python
env: flex
service: lazywriter

runtime_config:
  python_version: 3

entrypoint: streamlit run main.py --server.port $PORT

automatic_scaling:
  max_num_instances: 1

env_variables:
  CO_KEY: {{ CO_KEY }}
