runtime: nodejs16
env: standard
service: trivia-generator

env_variables:
  COHERE_API_KEY: {{ COHERE_API_KEY }}
  DISCORD_TOKEN: {{ DISCORD_TOKEN }}
  SLACK_SECRET: {{ SLACK_SECRET }}
  SLACK_TOKEN: {{ SLACK_TOKEN }}
